# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable rails-power': 'rails-power:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'rails-power'
      'submenu': [
        { 'label': 'Toggle View Finder', 'command': 'rails-power:toggle-view-finder' }
        { 'label': 'Go to Model', 'command': 'rails-power:go-to-model' }
      ]
    ]
  }
]
