# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'.workspace':
  'ctrl-alt-r v': 'rails-transporter:toggle-view-finder'
  'ctrl-alt-r m i': 'rails-transporter:toggle-migration-finder'
  'ctrl-alt-r m': 'rails-transporter:open-model'
  'ctrl-alt-r h': 'rails-transporter:open-helper'
  'ctrl-alt-r p': 'rails-transporter:open-partial-template'
  'ctrl-alt-r s': 'rails-transporter:open-spec'
  'ctrl-alt-r a': 'rails-transporter:open-asset'
